<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
        crossorigin="anonymous">
    <title>House</title>
</head>
<body id="house">
    <div class="wrapper">
        <header class="header-cont">
            <a class="email" href="mailto:info@tgif.net" target="_blank">✉️info@tgif.net</a>
        </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                 Congress 113
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="senate-data.html">Senate</a></li>
                                <li><a class="dropdown-item" href="house-data.html">House</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                 Attendance
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="attendance-senate.html">Senate</a></li>
                                <li><a class="dropdown-item" href="attendance-house.html">House</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                 Party Loyalty
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="senate-party-loyalty.html">Senate</a></li>
                                <li><a class="dropdown-item" href="house-party-loyalty.html">House</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            <div id="members-data">
                <div class="main-info">
                <h2>Congressmen</h2>
                <p id="hou-info">The major power of the House is to pass federal legislation that affects the 
                    entire country, although its bills must also be passed by the Senate and further agreed to 
                    by the U.S. President before becoming law (unless both the House and Senate re-pass the 
                    legislation with a two-thirds majority in each chamber). The House has some exclusive powers: 
                    the power to initiate revenue bills, to impeach officials (impeached officials are 
                    subsequently tried in the Senate), and to elect the U.S. President in case there is no 
                    majority in the Electoral College.

                    Each U.S. state is represented in the House in proportion to its population as measured in 
                    the census, but every state is entitled to at least one representative.
                </p>
                </div>
                <div class="form-check form-switch">
                <h4>Sort By:</h4>
                <form id="filtros">
                    <fieldset>
                        <legend>Parties:</legend>
                        <label for="">Republican Party
                            <input v-model="parties" type="checkbox" name="parties" value="R" class="form-check-input" id="flexSwitchCheckDefault">
                        </label>
                        <label for="">Democratic Party
                            <input v-model="parties" type="checkbox" name="parties" value="D" class="form-check-input" id="flexSwitchCheckDefault">
                        </label>
                        <label for="">Independent Party
                            <input v-model="parties" type="checkbox" name="parties" value="ID" class="form-check-input" id="flexSwitchCheckDefault">
                        </label>
                    </fieldset>
                    <fieldset id="states-legend2">
                        <legend>States:</legend>
                        <select v-model="selection" name="states">
                            <option value="">--Please choose a State--</option>
                            <option v-for="state in membersByState" :value="state">{{state}}</option>
                        </select>
                    </fieldset>
                </form>
                </div>
                <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Party</th>
                        <th>State</th>
                        <th>Seniority</th>
                        <th>Percentage of votes with party</th>
                    </tr>
                </thead>
                <tbody id="members-data-tbody">    
                    <tr v-for="member in membersByParty || membersByState">
                        <td>{{member.first_name}} {{member.middle_name || ""}} {{member.last_name}}</td>
                        <td>{{member.party}}</td>
                        <td>{{member.state}}</td>
                        <td>{{member.seniority}} Years</td>
                        <td>{{member.votes_with_party_pct}} %</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </main>
        <footer id="foot-index">
            <p>© 2016 TGIF</p>
            <p id="p-with-border">All Rights Reserved</p>
        </footer>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="./scripts/app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </div>
</body>
</html>